@model List<Blogaat.Models.Domains.BlogPost>
@{
    ViewData["Title"] = "Get ALL Blogs";
}

<div>

    <h3 style="font-size:30px;">SHOW ALL Blogs</h3>
</div>
<div>
    @if (Model != null && Model.Any())
    {
        <div class="container py-5" class="table">

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Heading</th>
                        <th>Tags</th>
                        <th>  </th>
                        <th>  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var blogPost in Model)
                    {
                        <tr>
                            <td>@blogPost.Id</td>
                            <td>@blogPost.Heading</td>
                            <td>
                                <div class="d-flex">
                                    @foreach (var tag in blogPost.tags)
                                    {
                                        <span class="badge bg-secondary me-1">
                                            @tag.Name
                                        </span>
                                    }
                                </div>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-dark"
                                        asp-area="" asp-controller="AdminBlogPosts"
                                        asp-action="Edit" asp-route-id="@blogPost.Id">
                                    <a asp-area="" asp-controller="AdminBlogPosts"
                                       asp-action="Edit" asp-route-id="@blogPost.Id">
                                        Edit
                                    </a>
                                </button>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <p>NO Tags Found!</p>
    }
    @* <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    </style> *@

</div>